<div class="jumbotron jumbotron-fluid">
	<div class="container">
	  <div class="d-flex flex-wrap">
		<div>
		  <h1 class="display-3">Institutional Scholarship</h1>
		  <p class="lead">The purpose of Institutional Scholarship, the TriCollege Libraries Institutional Repository is to collect, describe, provide access to, and preserve the digital materials associated with the research and scholarship of Bryn Mawr, Haverford, and Swarthmore Colleges as well as materials of historical value to the Colleges.</p>
		  <p>The TriCollege Libraries aim to describe materials in a way that is respectful to the individuals and communities who create, use, and are represented in the collections we manage. Read our <a href="" target="_blank">https://web.tricolib.brynmawr.edu/trico/language_statement/</a>Reparative Language Statement</p>
		</div>
	  </div>
  </div>
  