<div class="jumbotron jumbotron-fluid">
	<div class="container">
	  <div class="d-flex flex-wrap">
		<div>
		  <h1 class="display-3">Institutional Scholarship</h1>
		  <p class="lead">The purpose of Institutional Scholarship, the TriCollege Libraries Institutional Repository is to collect, describe, provide access to, and preserve the digital materials associated with the research and scholarship of Bryn Mawr, Haverford, and Swarthmore Colleges as well as materials of historical value to the Colleges.</p>
		</div>
	  </div>
  </div>
  